@model SchemeForFarmers.Areas.Bidder.Models.BidderDetail
@{
    ViewData["Title"] = "Bidder Registration";
}
<div>
    <partial name="BackgroundPartial"></partial>
</div>
<div class="background">
    <div class="card col-sm-5 my-5 shadow p-3 mb-5 rounded">
        <div class="card-body ">
            <h4 class="card-title">Bidder Registration</h4>
            <form asp-action="Registration" enctype="multipart/form-data" id="form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h6 class="card-subtitle" style="margin-top:15px">Personal Details</h6>
                <div class="form-group" style="margin-top:10px">
                    <label asp-for="BName" class="control-label">Name</label>
                    <input asp-for="BName" class="form-control" />
                    <span asp-validation-for="BName" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-top:10px">
                    <label asp-for="BContact" class="control-label">Contact</label>
                    <input asp-for="BContact" class="form-control" />
                    <span asp-validation-for="BContact" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-top:10px">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <h6 class="card-subtitle" style="margin-top:15px">Address Details</h6>
                <div class="form-group" style="margin-top:10px">
                    <label asp-for="BAddress" class="control-label">Address</label>
                    <input asp-for="BAddress" class="form-control" />
                    <span asp-validation-for="BAddress" class="text-danger"></span>
                </div>
                <h6 class="card-subtitle" style="margin-top:15px">Bank Details</h6>
                <div class="form-group" style="margin-top:10px">
                    <label asp-for="BAccountNo" class="control-label">Account No.</label>
                    <input asp-for="BAccountNo" class="form-control" />
                    <span asp-validation-for="BAccountNo" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-top:10px">
                    <label asp-for="BIfscCode" class="control-label">IFSC Code</label>
                    <input asp-for="BIfscCode" class="form-control" />
                    <span asp-validation-for="BIfscCode" class="text-danger"></span>
                </div>
                <h6 class="card-subtitle" style="margin-top:15px">Documents Upload</h6>
                <div class="form-group" style="margin-top:10px">
                    <label class="control-label">Aadhar Card</label>
                    <input type="file" accept="application/pdf" name="aadhar" class="form-control" />
                    <span asp-validation-for="BAadhar" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-top:10px">
                    <label class="control-label">Pan Card</label>
                    <input type="file" accept="application/pdf" name="pan" class="form-control" />
                    <span asp-validation-for="BPan" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-top:10px">
                    <label asp-for="BLicense" class="control-label">Trader's License</label>
                    <input type="file" accept="application/pdf" name="certificate" class="form-control" />
                    <span asp-validation-for="BLicense" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-top:25px">
                    <label asp-for="Password" class="control-label">Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-top:10px">
                    <label class="control-label">Confirm Password</label>
                    <input name="ConfirmPassword" class="form-control" />
                </div>
                <div class="form-group" style="margin-top:10px">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>

            <div>
                <a style="margin-top:10px" asp-action="LogIn" asp-controller="Home" asp-area="">Log In</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}