@model SchemeForFarmers.Models.ForgotPassword
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor contextAccessor

@{
    ViewData["Title"] = "ForgotPassword";
}
<div>
    <partial name="BackgroundPartial"></partial>
</div>
<div class="d-flex">
    <div class="card col-sm-4 mx-auto my-5 shadow p-3 mb-5 rounded text-center">
        <div class="card-body">
            <h5 class="card-title">Reset Your Password!</h5>
            <form asp-action="ForgotPassword">
                @{
                    if (contextAccessor.HttpContext.Session.GetString("Match") != null)
                    {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="logoutalert">
                            <strong>Email not recognised!</strong> Please enter registered email.
                            <button type="button" id="btn" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    if (contextAccessor.HttpContext.Session.GetString("Old") != null)
                    {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="logoutalert">
                            <strong>New Password can't be same as the Old Password.</strong> 
                            <button type="button" id="btn" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                }
                
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control text-center" value="@Model.Email" placeholder="Enter Registered Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group" id="pswd" style="margin-top:10px">
                    <label asp-for="Password" class="control-label">Password</label>
                    <input asp-for="Password" class="form-control text-center" placeholder="Enter New Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-top:10px">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <a style="margin-top:20px" asp-action="Login">Back to LogIn</a>
            </div>
        </div>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        
        var pwd = @Json.Serialize(Model.Password);
        console.log(pwd)
        if (pwd == null)
            $("#pswd").hide();
    });

    $("#btn").click(function () {
        $.ajax({
            url: '@Url.Action("removeSession")',
            success: function () {
                console.log("success")
            },
            error: function () {
                console.log("failure")
            }
            //Your code for AJAX Ends
        });
    });

</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
